@import "abstracts/variables";

body {
  font-family: $font-family-primary !important;
  font-family: $font-family-secondary !important;
}

.main-container {
  background: linear-gradient(
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)
  );
  padding: 4rem 2rem;
margin: 6rem 3rem;
box-shadow: $box-shadow-strong;
&__button-container{
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    margin-bottom: 4rem;
}
}
.card {
  background: #f7f7f8;
  box-shadow: $box-shadow-light;
  transition: all 0.1s linear;
  outline: $color-tertiary-light 3px solid;
  margin-bottom: 1rem;
  margin-left: 1rem;

&-hidden-border{
    outline: none !important;
}   
  &-title{
      text-align: center;
  }

  &-body {
      display: flex;
      flex-direction: column;
        justify-content: space-between;
      padding: 2rem;
  }
  &-price {
    font-weight: 600;
  }
  &-sku {
    background-color: $color-black;
    font-size: 0.9rem;
    margin-bottom: 16px !important;
  }
  &-title {
    text-transform: capitalize;
    margin-bottom: 2rem;
  }
  &-bottom{
      margin-top: 2rem;
      display: flex;
      justify-content: space-between;
  }
  &-type{
      
      text-transform: capitalize;
      font-size: 0.9rem;
 

      &-book{
          background-color: $color-primary-dark;
      }
      &-dvd{
          background-color: $color-secondary-dark;
      }

      &-furniture{
          background-color: $color-tertiary-dark;
      }
  }
  &:hover{
      transform: scale(1.02);
  }

  &-items{
      display: flex;
      justify-content: space-around;
      text-align: center;
      &-label{
        text-transform: capitalize;
      }
  }
}

.container-gap {
  gap: 3rem;
  justify-content: center;
}

.checkbox{
    display: none;
}

